button {
	background-color: white;
	margin: 5px;
	border-radius: 50px;
}

table {
  margin: 0 auto;
  border-radius:10px;
}
td {
  border: 1px solid black;
  width: 200px;
  height: 200px;
  text-align: center;
  font-size: 4em;
}
